<html>
<head>
<title> Create Tournament <title> 
    <style>
      @font-face {
          font-family: arcade;
          src: url('/fs/PressStart2P-vaV7.ttf') format('truetype');
      }
      body {
          font-family: arcade, monospace;
          background-color: #000000;
          color: #ffffff;
      }
      td {
          vertical-align: top;
          border-spacing : 100vi;
      }
      input {
          font-family: arcade, monospace;
      }
      table {
          border-spacing: 5px 1rem;
      }
    </style>
</head>
<body>

    <h1> CREATE TOURNAMENT </h1>

</body>
