<!-- edit tournament settings -->
<html>
  <head>
    <title>
      Irata Poker Clock: Edit Event {{ .EventID }}
    </title>
  </head>
  <body>
    <style>
      @font-face {
          font-family: arcade;
          src: url('/fs/PressStart2P-vaV7.ttf') format('truetype');
      }
      body {
          font-family: arcade, monospace;
          background-color: #000000;
          color: #ffffff;
      }
    </style>

    <form method="post">
      

    </form>
