<!-- edit footer plugs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>
            Irata Poker Clock: Edit Footer Plugs {{ .FooterPlugsID }}
        </title>
    </head>
  <body>
    <style>
      @font-face {
          font-family: arcade;
          src: url('/fs/PressStart2P-vaV7.ttf') format('truetype');
      }
      body {
          font-family: arcade, monospace;
          background-color: #000000;
          color: #ffffff;
      }
      td {
          vertical-align: top;
          border-spacing : 100vi;
      }
      input {
          font-family: arcade, monospace;
      }
      table {
          border-spacing: 5px 1rem;
      }
    </style>

    <h1> Footer Plugs {{ .FooterPlugsID }} ... </h1>

    <form method="post">
      <input type="hidden" name="OptimisticLock" value="{{ .OptimisticLock }}">

      <textarea name="FooterPlugs" type="textarea" cols="20" rows="50">{{- .Whatever -}}</textarea>

      <input type="submit" value="   SAVE CHANGES   " style="font-family: arcade, monospace;">
      <input type="reset" value=" RESET TO SAVED VALUES " style="font-family: arcade, monospace;">
    </form>

    <p> NON-TEXT PLUGS ARE CURRENTLY NOT SUPPORTED. </p>
    <p> SEPARATE TEXT PLUGS BY TWO BLANK LINES.  WITHIN EACH BLOCK,
        A LINE BREAK INDICATES A PLACE THAT MAY BE LINE-WRAPPED. </p>
    
  </body>
</html>
