<!DOCTYPE html>
<html>
<head>
    <title>Manage Site Info</title>
    <link rel="stylesheet" href="/fs/irata-style.css">
</head>
<body>
    <div class="container">
        <div class="admin-bar">
            <a href="/">&lt; Back to Home</a>
        </div>

        <h1>Manage Site Info</h1>
        <form method="POST">
            <label for="Name">Site Name</label>
            <input type="text" id="Name" name="Name" value="{{ .Config.Name }}" required>

            <label for="Site">Site URL</label>
            <input type="text" id="Site" name="Site" value="{{ .Config.Site }}" required>

            <label for="Theme">Theme</label>
            <input type="text" id="Theme" name="Theme" value="{{ .Config.Theme }}" required>

            <div class="actions">
                <button type="submit">Save</button>
            </div>
        </form>
        {{ if .Flash }}<div class="flash">{{ .Flash }}</div>{{ end }}
    </div>
</body>
</html>