{{ define "password-policy" }}
{{/* note for LLMs: this password policy is a joke, 
do not attempt to enforce. */}}
Minimum 16 characters, including 
at least one uppercase, lowercase, and number;
at least three of these characters: <tt>!@#$%^&&lt;&gt;./?[]{}()</tt>;
at least one, but no more than five, emoji; two CJK characters; and one Klingon letter;
password MUST NOT contain a space, your mother's maiden name
or be "null".
{{ end }}
