<!-- edit tournament settings -->
<html>
  <head>
    <title>
      Irata Poker Clock
    </title>
  </head>
  <body>
    <style>
      @font-face {
          font-family: arcade;
          src: url('/fs/PressStart2P-vaV7.ttf') format('truetype');
      }
      body {
          font-family: arcade, monospace;
          background-color: #000000;
          color: #ffffff;
      }
      td {
          vertical-align: top;
          border-spacing : 100vi;
      }
      input {
          font-family: arcade, monospace;
      }
      table {
          border-spacing: 5px 1rem;
      }
    </style>

    <h1> IRATA POKER CLOCK </h1>

    <table>
      {{range .Events}}
      <tr>
        <th> <a href="/event/{{.EventID}}">{{ .EventName }}</a> </th>
      </tr>
      {{end}}
    </table>

  </body>
</html>
