<!DOCTYPE html>
<html lang="en" class="clock-page">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Irata Poker Clock: {{ .Tournament.EventName }}
    </title>
    <link rel="stylesheet" href="/fs/{{ .Theme }}-style.css">
  </head>
  
  <body class="clock-page">
    <table class="clock-full-height">
      <tbody>
      <tr>
        <td width="75%" class="clock-full-height">
          <!-- left main -->
          <table class="clock-full-height">
            <tbody>
            <tr>
              <td class="clock-title">
                {{ .Tournament.EventName }}
              </td>
              <td class="clock-level" id="level"> LOADING... </td>
              <td> 
                <div class="clock-current-players" id="current-players">{{ .Tournament.State.CurrentPlayers }}</div>
                <div style="text-align: center;" class="clock-current-players-label"> PLAYERS </div>
              </td>
            </tr>
            <tr>
              <td colspan="3"  class="clock-container" id="clock-td">
              <span id="clock" class="clock-time">&#9824;&#9829;:&#9830;&#9827;</span>
                <div id="paused-overlay" class="clock-paused-overlay">PAUSED</div>
              </td>
            </tr>
            <tr>
              <td colspan="3"  class="clock-blinds" id="blinds"> LOADING...</td>
            </tr>
            <tr>
              <td colspan="3">
                <table>
                  <tbody>
                  <tr>
                    <td width="5%" class="clock-footer">
                      &nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;
                    </td>
                    <td width="95%" class="clock-footer" id="footer">
                      IRATA POKER CLOCK<br>
                      TIM SHOWALTER, 2025<br>
                      ALL RIGHTS REVERSED
                    </td>
                    <td width="5%" class="clock-footer">
                        &nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </table>
        </td>
        <td width="25%" class="clock-full-height">
          <!-- right rail -->
          <div class="clock-rr clock-full-height">
            <div class="clock-rr-top-box">
              <div class="clock-buyins">
                <span id="buyins">{{- .Tournament.State.BuyIns -}}</span> BUYINS
              </div>
              <div class="clock-addons">
                <span id="addons-container">
                  <span id="addons">{{- .Tournament.State.AddOns -}}</span>
                  ADD-ONS 
                </span>
              </div>
            </div>
              
            <div class="clock-rr-prize-pool">
              <span id="prize-pool" class="clock-prize-pool">
                {{ .Tournament.State.PrizePool }}
              </span>
            </div>
              
            <div class="clock-rr-bottom-box">
              <div id="next-level-container" class="clock-rr-rotate-container">
                <div class="clock-rr-label"> NEXT LEVEL </div>
                <span class="clock-rr-data" id="next-description"> TBD </span>
              </div>
              <div id="avg-chips-container" class="clock-rr-rotate-container">
                <div>
                  <div class="clock-rr-label"> AVG CHIPS </div>
                  <span class="clock-rr-data" id="avg-chips"> {{ .Tournament.Transients.AverageChips }} </span>
                </div>
                <div>
                  <div class="clock-rr-label"> NEXT BREAK </div>
                  <div class="clock-rr-data" id="next-break"> RSN </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <div id="help-dialog" class="clock-help-dialog-overlay">
      <div class="clock-help-dialog-content">
        <table style="width:100%; border-collapse:collapse; margin:0; font-size:1.3vi;">
          <tbody>
            <tr>
              <td class="clock-help-dialog-table-key"><b>Space</b></td>
              <td class="clock-help-dialog-table-desc">Pause/Resume (or [Enter])</td>
            </tr>
            <tr>
              <td class="clock-help-dialog-table-key"><b>PgUp</b></td>
              <td class="clock-help-dialog-table-desc">Add Player †</td>
            </tr>
            <tr>
              <td class="clock-help-dialog-table-key"><b>PgDn</b></td>
              <td class="clock-help-dialog-table-desc">Remove Player †</td>
            </tr>
            <tr>
              <td class="clock-help-dialog-table-key"><b>Home</b></td>
              <td class="clock-help-dialog-table-desc">Add Buyin †</td>
            </tr>
            <tr>
              <td class="clock-help-dialog-table-key"><b>End</b></td>
              <td class="clock-help-dialog-table-desc">Remove Buyin †</td>
            </tr>
            <tr>
              <td class="clock-help-dialog-table-key"><b>Insert</b></td>
              <td class="clock-help-dialog-table-desc">Add Add-On †</td>
            </tr>
            <tr>
              <td class="clock-help-dialog-table-key"><b>Delete</b></td>
              <td class="clock-help-dialog-table-desc">Remove Add-On †</td>
            </tr>
            <tr> <td colspan="2"> <hr> </td> </tr>
            <tr>
              <td class="clock-help-dialog-table-key"><b>BS</b></td>
              <td class="clock-help-dialog-table-desc">Unlock level/clock keys</td>
            </tr>
            <tr>
              <td class="clock-help-dialog-table-key"><b>←</b></td>
              <td class="clock-help-dialog-table-desc">*Previous Level</td>
            </tr>
            <tr>
              <td class="clock-help-dialog-table-key"><b>→</b></td>
              <td class="clock-help-dialog-table-desc">*Skip to Next Level</td>
            </tr>
            <tr>
              <td class="clock-help-dialog-table-key"><b>↑</b></td>
              <td class="clock-help-dialog-table-desc">*Add 1 Minute †</td>
            </tr>
            <tr>
              <td class="clock-help-dialog-table-key"><b>↓</b></td>
              <td class="clock-help-dialog-table-desc">*Subtract 1 Minute †</td>
            </tr>
            <tr>
              <td class="clock-help-dialog-table-key"><b>R</b></td>
              <td class="clock-help-dialog-table-desc">Restart level ‡</td>
            </tr>
            <tr> <td colspan="2"> <hr> </td> </tr>
            <tr>
              <td class="clock-help-dialog-table-key"><b>E</b></td>
              <td class="clock-help-dialog-table-desc">Edit Event</td>
            </tr>
            <tr>
              <td class="clock-help-dialog-table-key"><b>Esc</b></td>
              <td class="clock-help-dialog-table-desc">Exit to Overview</td>
            </tr>
          </tbody>
        </table>
        <div class="clock-help-dialog-close">
          † Shift+key will step by 10 </br>
          * Lock/unlock with BS key. <br>
          ‡ Shift+R will restart the tournament <br>
          <b>F1</b> or <b>?</b> shows help. <br>
          <b>Esc</b> to close this help.
        </div>
      </div>
    </div>

    <script src="/fs/movement.js"></script>
    {{ if .InstallKeyboardHandlers }}
    <script> install_keyboard_handlers(); </script>
    {{ end }}
  </body>
</html>
