<html>
  <head>
    <title>
      Irata Poker Clock: {{ .EventName }}
    </title>
  </head>
  <body>
   
    <style>
      @font-face {
          font-family: arcade;
          src: url('/fs/PressStart2P-vaV7.ttf') format('truetype');
      }
      body {
          font-family: arcade, monospace;
          font-size: 10vi;
          background-color: #000000;
          color: #ffffff;
      }
      table {
          table-layout: fixed;
      }
      td {
          text-align: center;
          line-height: 110%;
      }
      .fullsize {
          /*width: 100%;*/
          height: 100%;
      }
      .level {
          font-size: 4vi;
          color: #aaaaff;
      }
      .clock {
          font-size: 15vi;
          color: #22ff22;
      }
      .clock-break {
          font-size: 15vi;
          color: #ffffff;
          background-color:#8b1a1a;
      }
      .blinds {
          font-size: 3vi;
          color: #cc0099;
      }
      .footer {
          font-size: 2vi;
          color: #aaaaaa;
      }
      .title {
          font-size: 1.8vi;
          text-align: center;
          color: #ffffff;
      }
      .current-players {
          font-size: 5vi;
          text-align: center;
      }
      .buyins {
          font-size: 1.5vi;
          text-align: center;
      }
      .avg-chips {
          font-size: 2.5vi;
          text-align: center;
      }
      .next-level {
          font-size: 2vi;
          text-align: center;
          color: #ffffff;
      }
      .next-break {
          font-size: 2.5vi;
          text-align: center;
      }
      .prize-pool {
          font-size: 1.5vi;
          text-align: center;
      }
      .right-rail {
          border: 1px solid white;
      }
      .rr-label {
          font-size: 1.7vi;
          line-height: 140%;
      }
    </style>

    <table class="fullsize">
      <tr>
        <td width="80%" class="fullsize">
          <!-- left main -->
          <table class="fullsize">
            <tr>
              <td class="title">
                &#9824; {{ .EventName }} &#9824;
              </td>
            </tr>
            <tr>
              <td class="level" width="80%" id="level"> LOADING... </td>
            </tr>
            <tr>
              <td width="80%" class="clock" id="clock"> &#9824;&#9829;:&#9830;&#9827; </td>
            </tr>
            <tr>
              <td width="80%" class="blinds" id="blinds"> LOADING...
            </tr>
            <tr>
              <td>
                <table width="100%">
                  <tr>
                    <td width="5%" class="footer">&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
                    <td width="95%" class="footer" id="footer">
                      IRATA POKER CLOCK<br>
                      TIM SHOWALTER, 2023<br>
                      ALL RIGHTS REVERSED
                    </td>
                    <td width="5%" class="footer">&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          
        </td>
        <td width="20%" class="fullsize">
          <!-- right rail -->
          <table width="100%" class="fullsize">
            <tr> <td class="rr-label"> PLAYERS </tr>
            <tr> <td class="current-players" id="current-players"> {{ .CurrentPlayers }} </tr>
            <tr> <td class="buyins"><span id="buyins">{{- .BuyIns -}}</span> BUYINS </tr>
            <tr>
              <td style="font-size: 3vi;" align="center">
                &#9830;
              </td>
            </tr>
            <tr><td>
                <table align="center" width="100%">
                  <!-- <tr> <td class="rr-label"> PRIZE POOL </td> </tr> -->
                  <tr>
                    <td class="prize-pool">
                      {{ .PrizePool }}
                    </td>
                </table>
            </td></tr>
            <tr>
              <td style="font-size: 3vi;" align="center">
                &#9830;
              </td>
            </tr>
            <tr><td>
                <table width="100%">
                  <tbody>
                  <tr> <td class="rr-label"> AVG CHIPS </tr>
                  <tr> <td class="avg-chips" id="avg-chips"> {{ .AverageChips }} </tr>
                  <tr> <td class="rr-label"> NEXT LEVEL </tr>
                  <tr> <td class="next-level" id="next-level"> 60-120 + 120 ANTE</tr>
                  <tr> <td class="rr-label"> NEXT BREAK </tr>
                  <tr> <td class="next-break" id="next-break"> TBD </tr>
                  </tbody>
                </table>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <script src="/fs/movement.js"></script>
  </body>
</html>
