<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Irata Poker Clock: {{ .Tournament.EventName }}
    </title>
  </head>
  <body>
   
    <style>
      @font-face {
          font-family: arcade;
          src: url('/fs/PressStart2P-vaV7.ttf') format('truetype');
      }
      html, body {
          height: 100%;
          margin: 0;
          padding: 0;
          overflow: hidden;
      }
      body {
          font-family: arcade, monospace;
          font-size: 10vi;
          background-color: #000000;
          color: #ffffff;
      }
      table {
          table-layout: fixed;
      }
      td {
          text-align: center;
          line-height: 110%;
      }
      .fullsize {
          /*width: 100%;*/
          height: 100%;
      }
      .level {
          font-size: 3vi;
          color: yellow;
      }
      .clock {
          font-size: 15vi;
          color: #22ff22;
          width: 75%;
      }
      .clock #clock {
          display: inline-block;
          white-space: nowrap;
          font-size: 15vi;
      }
      /* Shrink clock when it has 7 characters (includes hours) */
      #clock.has-hours {
          font-size: 11vi !important;
      }
      .clock-break {
          font-size: 15vi;
          color: #ffffff;
          background-color:#8b1a1a;
      }
      .blinds {
          font-size: 4vi;
          color: #cc0099;
      }
      .footer {
          font-size: 2vi;
          color: #aaaaaa;
      }
      .title {
          font-size: 1.8vi;
          text-align: center;
          color: #ffffff;
      }
      .current-players {
          font-size: 5vi;
          text-align: center;
      }
      .buyins {
          font-size: 1.5vi;
          text-align: center;
      }
      .avg-chips {
          font-size: 2.5vi;
          text-align: center;
      }
      .next-level {
          font-size: 2vi;
          text-align: center;
          color: #ffffff;
      }
      .next-break {
          font-size: 2.5vi;
          text-align: center;
      }
      .prize-pool {
          font-size: 1.5vi;
          text-align: left;
      }
      .right-rail {
          border: 1px solid white;
      }
      .rr-label {
          font-size: 1.7vi;
          line-height: 140%;
      }
      .help-dialog-overlay {
        display: none;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        background: rgba(0,0,0,0.95);
        color: #fff;
        z-index: 9999;
        font-family: arcade, monospace;
        font-size: 2vi;
        text-align: center;
        padding-top: 5vi;
      }
      .help-dialog-content {
        margin: auto;
        background: #222;
        border: 2px solid #aaaaff;
        border-radius: 1vi;
        padding: 2vi;
        display: inline-block;
        text-align: left;
        color: #fff;
      }
      .help-dialog-close {
        font-size: 1.5vi;
        color: #aaaaff;
        margin-top: 2vi;
      }
      .help-dialog-table-key {
        width: 18%;
        text-align: left;
        padding: 0.1vi 0.4vi 0.1vi 0;
      }
      .help-dialog-table-desc {
        text-align: left;
        padding: 0.1vi 0;
      }
      .paused-overlay {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-33deg);
        font-size: 8vi;
        color: #ffffff;
        text-shadow:
          -0.7vi -0.7vi 0 #000,
          0.7vi -0.7vi 0 #000,
          -0.7vi 0.7vi 0 #000,
          0.7vi 0.7vi 0 #000,
          0 0 100px #000;
        font-family: arcade, monospace;
        pointer-events: none;
        z-index: 10;
        white-space: nowrap;
        letter-spacing: 0.1em;
        font-weight: bold;
      }
    </style>

    <table class="fullsize">
      <tr>
        <td width="75%" class="fullsize">
          <!-- left main -->
          <table class="fullsize">
            <tr>
              <td class="title">
                &#9824; {{ .Tournament.EventName }} &#9824;
              </td>
            </tr>
            <tr>
              <td class="level" width="75%" id="level"> LOADING... </td>
            </tr>
            <tr>
              <td width="75%" class="clock" id="clock-td" style="position:relative;">
              <span id="clock">&#9824;&#9829;:&#9830;&#9827;</span>
                <div id="paused-overlay" class="paused-overlay">PAUSED</div>
              </td>
            </tr>
            <tr>
              <td width="75%" class="blinds" id="blinds"> LOADING...</td>
            </tr>
            <tr>
              <td>
                <table width="100%">
                  <tr>
                    <td width="5%" class="footer">
                      &nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;
                    </td>
                    <td width="95%" class="footer" id="footer">
                      IRATA POKER CLOCK<br>
                      TIM SHOWALTER, 2025<br>
                      ALL RIGHTS REVERSED
                    </td>
                    <td width="5%" class="footer">
                        &nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
        <td width="25%" class="fullsize">
          <!-- right rail -->
          <table width="100%" class="fullsize">
            <tr><td>
                <table align="center" width="100%"><tbody>
                    <tr> <td class="current-players" id="current-players">{{ .Tournament.State.CurrentPlayers }}</td></tr>
                    <tr> <td class="rr-label"> PLAYERS </td></tr>
                    <tr> <td class="buyins"><span id="buyins">{{- .Tournament.State.BuyIns -}}</span> BUYINS </td></tr>
                    {{ if ne 0 .Tournament.Structure.ChipsPerAddOn }}
                    <tr> <td class="addons"><span id="addons">{{- .Tournament.State.AddOns -}}</span> ADD-ONS </td></tr>
                    {{ end }}
                </tbody></table>
              </td>
            </tr>
            <tr>
              <!-- <td style="font-size: 3vi;" align="center"> -->
              <!--   &#9830; -->
              <!-- </td> -->
            </tr>
            <tr><td>
                <table align="center">
                  <!-- <tr> <td class="rr-label"> PRIZE POOL </td> </tr> -->
                  <tr>
                    <td class="prize-pool">
                      <hr>
                      <span id="prize-pool">
                      {{ .Tournament.State.PrizePool }}
                      </span>
                      <hr>
                    </td>
                </table>
            </td></tr>
            <tr>
              <!-- <td style="font-size: 3vi;" align="center"> -->
              <!--   &#9830; -->
              <!-- </td> -->
            </tr>
            <tr><td>
                <table width="100%">
                  <tbody>
                  <tr> <td class="rr-label"> AVG CHIPS </tr>
                  <tr> <td class="avg-chips" id="avg-chips"> {{ .Tournament.Transients.AverageChips }} </tr>
                  <tr> <td class="rr-label"> NEXT LEVEL </tr>
                  <tr> <td class="next-level" id="next-level"> TBD </tr>
                  <tr> <td class="rr-label"> NEXT BREAK </tr>
                  <tr> <td class="next-break" id="next-break"> RSN </tr>
                  </tbody>
                </table>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <div id="help-dialog" class="help-dialog-overlay">
      <div class="help-dialog-content">
        <h3>Keyboard Control</h3>
        <table style="width:100%; border-collapse:collapse; margin:0; font-size:1.3vi;">
          <tbody>
            <tr>
              <td class="help-dialog-table-key"><b>Space</b></td>
              <td class="help-dialog-table-desc">Pause/Resume Clock (or [Enter])</td>
            </tr>
            <tr>
              <td class="help-dialog-table-key"><b>PgUp</b></td>
              <td class="help-dialog-table-desc">Add Player †</td>
            </tr>
            <tr>
              <td class="help-dialog-table-key"><b>PgDn</b></td>
              <td class="help-dialog-table-desc">†Remove Player †</td>
            </tr>
            <tr>
              <td class="help-dialog-table-key"><b>Home</b></td>
              <td class="help-dialog-table-desc">Add Buy-In (or [=] or [.]) †</td>
            </tr>
            <tr>
              <td class="help-dialog-table-key"><b>End</b></td>
              <td class="help-dialog-table-desc">Remove Buy-In (or [-] or [,]) †</td>
            </tr>
            <tr> <td colspan="2"> <hr> </td> </tr>
            <tr>
              <td class="help-dialog-table-key"><b>BS</b></td>
              <td class="help-dialog-table-desc">Unlock level/clock keys</td>
            </tr>
            <tr>
              <td class="help-dialog-table-key"><b>←</b></td>
              <td class="help-dialog-table-desc">*Previous Level</td>
            </tr>
            <tr>
              <td class="help-dialog-table-key"><b>→</b></td>
              <td class="help-dialog-table-desc">*Skip to Next Level</td>
            </tr>
            <tr>
              <td class="help-dialog-table-key"><b>↑</b></td>
              <td class="help-dialog-table-desc">*Add 1 Minute †</td>
            </tr>
            <tr>
              <td class="help-dialog-table-key"><b>↓</b></td>
              <td class="help-dialog-table-desc">*Subtract 1 Minute †</td>
            </tr>
            <tr> <td colspan="2"> <hr> </td> </tr>
            <tr>
              <td class="help-dialog-table-key"><b>E</b></td>
              <td class="help-dialog-table-desc">Edit Event</td>
            </tr>
            <tr>
              <td class="help-dialog-table-key"><b>Esc</b></td>
              <td class="help-dialog-table-desc">Exit to Overview</td>
            </tr>
          </tbody>
        </table>
        <div class="help-dialog-close">
          † If holding shift, these step by 10. </br>
          * These are disabled unless clock is paused and unlocked. <br>
          <b>F1</b>, <b>?</b>, or <b>/</b> will show this message. <br>
          <b>Esc</b> to close this help.
        </div>
      </div>
    </div>

    <script src="/fs/movement.js"></script>
    {{ if .InstallKeyboardHandlers }}
    <script> install_keyboard_handlers(); </script>
    {{ end }}
  </body>
</html>
