<html>
  <head>
    <title>
      Irata Poker Clock: {{ .EventName }}
    </title>
  </head>
  <body>
   
    <style>
      @font-face {
          font-family: arcade;
          src: url('/fs/PressStart2P-vaV7.ttf') format('truetype');
      }
      body {
          font-family: arcade, monospace;
          font-size: 10vi;
          background-color: #000000;
          color: #ffffff;
      }
      table {
          table-layout: fixed;
      }
      td {
          text-align: center;
          line-height: 110%;
      }
      .fullsize {
          /*width: 100%;*/
          height: 100%;
      }
      .level {
          font-size: 4vi;
          color: #aaaaff;
      }
      .clock {
          font-size: 15vi;
          color: #22ff22;
      }
      .clock-break {
          font-size: 15vi;
          color: #ffffff;
          background-color:#8b1a1a;
      }
      .blinds {
          font-size: 3vi;
          color: #cc0099;
      }
      .footer {
          font-size: 2vi;
          color: #aaaaaa;
      }
      .title {
          font-size: 1.8vi;
          text-align: center;
          color: #ffffff;
      }
      .current-players {
          font-size: 5vi;
          text-align: center;
      }
      .buyins {
          font-size: 1.5vi;
          text-align: center;
      }
      .avg-chips {
          font-size: 2.5vi;
          text-align: center;
      }
      .next-level {
          font-size: 2vi;
          text-align: center;
          color: #ffffff;
      }
      .next-break {
          font-size: 2.5vi;
          text-align: center;
      }
      .prize-pool {
          font-size: 1.5vi;
          text-align: center;
      }
      .right-rail {
          border: 1px solid white;
      }
      .rr-label {
          font-size: 1.7vi;
          line-height: 140%;
      }
      .help-dialog-overlay {
        display: none;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        background: rgba(0,0,0,0.95);
        color: #fff;
        z-index: 9999;
        font-family: arcade, monospace;
        font-size: 2vi;
        text-align: center;
        padding-top: 5vi;
      }
      .help-dialog-content {
        margin: auto;
        background: #222;
        border: 2px solid #aaaaff;
        border-radius: 1vi;
        padding: 2vi;
        display: inline-block;
        text-align: left;
        color: #fff;
      }
      .help-dialog-close {
        font-size: 1.5vi;
        color: #aaaaff;
        margin-top: 2vi;
      }
    </style>

    <table class="fullsize">
      <tr>
        <td width="80%" class="fullsize">
          <!-- left main -->
          <table class="fullsize">
            <tr>
              <td class="title">
                &#9824; {{ .EventName }} &#9824;
              </td>
            </tr>
            <tr>
              <td class="level" width="80%" id="level"> LOADING... </td>
            </tr>
            <tr>
              <td width="80%" class="clock" id="clock"> &#9824;&#9829;:&#9830;&#9827; </td>
            </tr>
            <tr>
              <td width="80%" class="blinds" id="blinds"> LOADING...
            </tr>
            <tr>
              <td>
                <table width="100%">
                  <tr>
                    <td width="5%" class="footer">&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
                    <td width="95%" class="footer" id="footer">
                      IRATA POKER CLOCK<br>
                      TIM SHOWALTER, 2025<br>
                      ALL RIGHTS REVERSED
                    </td>
                    <td width="5%" class="footer">&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          
        </td>
        <td width="20%" class="fullsize">
          <!-- right rail -->
          <table width="100%" class="fullsize">
            <tr> <td class="rr-label"> PLAYERS </tr>
            <tr> <td class="current-players" id="current-players"> {{ .State.CurrentPlayers }} </tr>
            <tr> <td class="buyins"><span id="buyins">{{- .State.BuyIns -}}</span> BUYINS </tr>
            <tr>
              <td style="font-size: 3vi;" align="center">
                &#9830;
              </td>
            </tr>
            <tr><td>
                <table align="center" width="100%">
                  <!-- <tr> <td class="rr-label"> PRIZE POOL </td> </tr> -->
                  <tr>
                    <td class="prize-pool">
                      {{ .State.PrizePool }}
                    </td>
                </table>
            </td></tr>
            <tr>
              <td style="font-size: 3vi;" align="center">
                &#9830;
              </td>
            </tr>
            <tr><td>
                <table width="100%">
                  <tbody>
                  <tr> <td class="rr-label"> AVG CHIPS </tr>
                  <tr> <td class="avg-chips" id="avg-chips"> {{ .Transients.AverageChips }} </tr>
                  <tr> <td class="rr-label"> NEXT LEVEL </tr>
                  <tr> <td class="next-level" id="next-level"> TBD </tr>
                  <tr> <td class="rr-label"> NEXT BREAK </tr>
                  <tr> <td class="next-break" id="next-break"> RSN </tr>
                  </tbody>
                </table>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <div id="help-dialog" class="help-dialog-overlay">
      <div class="help-dialog-content">
        <h2>Keyboard Control</h2>
        <ul style="list-style:none; padding:0;">
          <li><b>←</b>: Previous Level</li>
          <li><b>→</b>: Skip to Next Level</li>
          <li><b>Space</b>: Pause/Resume Clock (also Enter)</li>
          <li><b>↑</b>: Add 1 Minute</li>
          <li><b>↓</b>: Subtract 1 Minute</li>
          <li><b>PgUp</b>: Add Player</li>
          <li><b>PgDn</b>: Remove Player</li>
          <li><b>Home</b>: Add Buy-In (alias = or .)</li>
          <li><b>End</b>: Remove Buy-In (alias - or ,</li>
          <li><b>G</b>: Start Clock</li>
          <li><b>S</b>: Stop Clock</li>
          <li><b>E</b>: Edit Event</li>
          <li><b>F1 or ? or /</b>: This</li>
          <li><b>Esc</b>: Exit to Overview (also Backspace)</li>
        </ul>
        <div class="help-dialog-close">
          Press <b>Esc</b> to close this help.
        </div>
      </div>
    </div>

    <script src="/fs/movement.js"></script>
  </body>
</html>
